<section class="navbar">
  <div class="nav_logo">
    <a href="./summary.html">
      <span class="svg-icon nav_logo_icon" data-icon="join_logo" data-w="101" data-h="122"></span>
    </a>
  </div>

  <a class="nav_link" data-page="summary" href="./summary.html">
    <span class="svg-icon nav_icon" data-icon="nav_summary" data-w="25" data-h="25"></span>
    <span>Summary</span>
  </a>

  <a class="nav_link" data-page="add_task" href="./add_task.html">
    <span class="svg-icon nav_icon" data-icon="nav_add_task" data-w="25" data-h="25"></span>
    <span>Add Task</span>
  </a>

  <a class="nav_link" data-page="board" href="./board.html">
    <span class="svg-icon nav_icon" data-icon="nav_board" data-w="25" data-h="25"></span>
    <span>Board</span>
  </a>

  <a class="nav_link" data-page="contacts" href="./contacts.html">
    <span class="svg-icon nav_icon" data-icon="nav_contacts" data-w="25" data-h="25"></span>
    <span>Contacts</span>
  </a>

  <div class="policy_links">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal Notice</a>
  </div>
</section>
