<div class="top_menu">
    <div>Kanban Project Management Tool</div>
    <div class="user_info">
        <a href="#" class="help_icon">?</a>
        <div class="user_avatar_wrapper">
            <button class="pure_btn" id="open_user_dialog">
                <span class="user_avatar" id="active_user_avatar">GU</span>
            </button>
            <!-- <div class="user_avatar" onclick="toggleUserMenu()">MK</div> -->

            <!-- <div class="user_menu d_none" id="user_menu">
                <a id="link_legal_notice" href="#">Legal Notice</a>
                <a id="link_privacy_policy" href="#">Privacy Policy</a>
                <a id="log_out" href="#">Log out</a>
            </div> -->
        </div>
    </div>
</div>

<dialog class="user_menu_dialog" id="user_dialog">
    <a id="link_legal_notice" href="#">Legal Notice</a>
    <a id="link_privacy_policy" href="#">Privacy Policy</a>
    <a id="log_out" href="#">Log out</a>
</dialog>
