<div class="top_menu">
    <div>Kanban Project Management Tool</div>
    <div class="user_info">
        <a href="#" class="help_icon">?</a>
        <div class="user_avatar_wrapper" id="avatar_anchor">
        <button class="pure_btn" id="open_user_dialog" type="button">
            <span class="user_avatar" id="active_user_avatar">GU</span>
        </button>
            <nav class="user_menu_dialog" id="user_dialog" hidden>
                <a id="link_legal_notice" href="privacy_policy.html">Legal Notice</a>
                <a id="link_privacy_policy" href="legal_notice.html">Privacy Policy</a>
                <a id="log_out" onclick="userLogout()">Log out</a>
            </nav>
        </div>
    </div>
</div>



