<div class="top_menu">
    <div>Kanban Project Management Tool</div>
    <div class="user_info">
        <a href="#" class="help_icon">?</a>
        <div class="user_avatar_wrapper">
            <div class="user_avatar" onclick="toggleUserMenu()">MK</div>

            <div class="user_menu d_none" id="user_menu">
                <a href="#">Legal Notice</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleUserMenu() {
        let userMenu = document.getElementById('user_menu');
        userMenu.classList.toggle('d_none');
    }
</script>
