
:root {
    --background-color: #fff;
    --text-color: #000;
    --blue: #2A3647;
    --dark-blue: #091931;
    --light-blue: #29ABE2;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --white-text-color: #fff;
    --logo-light-blue: #4589FF;
    --corner_offset: 65px;
    --logo_start_width: 220px;
    --logo_corner_scale: 0.35;
    --border_color: #D1D1D1;
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/font/static/Inter_18pt-Medium.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(./assets/font/static/Inter_24pt-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    text-decoration: none;
    color: var(--white-text-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background-color);
    max-width: 1920px; /* Prevents the content from getting too wide */
    width: 100%; /* Ensures it scales down on smaller screens */
    margin: 0 auto; 
}
