
:root {
    --background-color: #fff;
    --text-color: #000;
    --blue: #2A3647;
    --dark-blue: #091931;
    --light-blue: #29ABE2;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --white-text-color: #fff;
    --logo-light-blue: #4589FF;
    --corner_offset: 65px;
    --logo_start_width: 220px;
    --logo_corner_scale: 0.35;
    --border_color: #D1D1D1;
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/font/static/Inter_18pt-Medium.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(./assets/font/static/Inter_24pt-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    text-decoration: none;
    
}

body {
    min-height: 100vh;
    background: var(--background-color);
    max-width: 1920px; /* Prevents the content from getting too wide */
    width: 100%; /* Ensures it scales down on smaller screens */
    margin: 0 auto; 
}

.display_grid {
    display: grid;
    grid-template-columns: 232px 1fr;
    grid-template-rows: 100vh;
}

.navbar {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    background-color: #2A3647;
}

.nav_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 64px;
    align-items: center;
    padding-bottom: 120px;
}

.nav_link {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    padding-left: 56px;            
    gap: 24px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--white-text-color);
}

.nav_link svg {
    justify-self: center;
}

.link_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.policy_links {
    margin-top: auto;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 56px;
}

.policy_links a {
    color: var(--white-text-color);
}
