
:root {
    --background-color: #fff;
    --text-color: #000;
    --blue: #2A3647;
    --dark-blue: #091931;
    --light-blue: #29ABE2;
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/font/static/Inter_18pt-Medium.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url(./assets/font/static/Inter_24pt-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
