
.deault-button {
    font-family: 'Inter';
    background-color: var(--blue);
    color: var(--background-color);
    font-size: 21px;
    font-weight: 700;
    padding: 15px 24px;
    border-radius: 8px;
    cursor: pointer;
    border-width: 0;
}

.default-button:hover {
    background-color: var(--light-blue);
}

.default-button:active {
    background-color: var(--dark-blue);
}

.secondary-button {
    font-family: 'Inter';
    background-color: var(--background-color);
    color: var(--blue);
    border: 2px solid var(--blue);
    font-size: 21px;
    font-weight: 700;
    padding: 15px 24px;
    border-radius: 8px;
    cursor: pointer;
    border-width: 0;
}

.secondary-button:hover {
    background-color: var(--background-color);
    color: var(--light-blue);
    border: 2px solid var(--light-blue);
}

.secondary-button:active {
    background-color: var(--background-color);
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
}
