
button {
    background-color: var(--blue);
    color: var(--background-color);
    font-size: 21px;
    font-weight: 700;
    padding: 15px 24px;
    border-radius: 8px;

}

.second-button {
    background-color: var(--background-color);
    color: var(--blue);
    border: 2px solid var(--blue);
}