
:root {
    --background-color: #fff;
    --text-color: #000;
    --blue: #2A3647;
    --dark-blue: #091931;
    --light-blue: #29ABE2;
}

button {
    font-family: 'Inter';
    background-color: var(--blue);
    color: var(--background-color);
    font-size: 21px;
    font-weight: 700;
    padding: 15px 24px;
    border-radius: 8px;

}

.second-button {
    background-color: var(--background-color);
    color: var(--blue);
    border: 2px solid var(--blue);
}