h4 {
  font-size: 27px;
  font-weight: 400;
}

.overlay_backdrop {
  border-radius: 30px;
}

.edit_contact_overlay {
  transition: transform 400ms ease;
  display: flex;
  z-index: 1000;
}

.overlay_left {
  height: 100%;
  background-color: var(--blue);
  color: var(--white-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 0 46px;
  margin-right: 50px;
}

.overlay_left h2 {
  font-size: 61px;
}

.divider {
  width: 90px;
  height: 4px;
  background-color: var(--light-blue);
}

.overlay_right {
  height: 100%;
  flex: 1;
  border-radius: 0 30px 30px 0;
  display: flex;
  align-items: center;
  background-color: var(--white-text-color);
  gap: 50px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-wrapper input {
  width: 422px;
  padding: 12px 44px 12px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input_icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.title_box {
  display: flex;
  align-items: center;
  margin: 110px 0 55px 55px;
  grid-area: contact_head;
}

.contacts_title {
  font-size: 61px;
  font-weight: 700;
  color: hsla(0, 0%, 0%, 1);
  padding-right: 30px;
  border-width: 3px;
  border-right-style: solid;
  border-right-color: hsla(198, 76%, 52%, 1);
}

.contacts_subtitle {
  font-size: 27px;
  font-weight: 400;
  color: hsla(215, 26%, 22%, 1);
  padding-left: 30px;
}

.contacts_layout {
  display: grid;
  grid-template-columns: 456px 8px 1fr;
  grid-template-rows: 96px calc(100dvh - 192px);
  grid-template-areas:
    "contact_list shadow contact_head"
    "contact_list shadow contact_details";
  background-color: var(--secondary-background-color);
}

.shadow {
  grid-area: shadow;
  background-image: linear-gradient(to left, #f9f9f9, #f0f0f0);
  min-width: 8px;
  margin-top: -1px;
}

.contact_list_sect {
  grid-area: contact_list;
  min-height: calc(100dvh - 178px);
  background-color: var(--background-color);
  margin-top: -2px;
  overflow: auto;
}

.contact_details_sect {
  grid-area: contact_details;
  margin: 120px 0 0 30px;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 160px 1fr;
  grid-template-areas:
    "avatar_large contact_detail"
    "contact_info contact_info";
}

.add_contact_btn {
  /* width: 445px;
    position: fixed;
    height: 100px;
    top: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; */
  position: sticky; /* statt fixed */
  top: 0; /* Abstand innerhalb der Liste */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background: var(--background-color);
}

.add_contact_btn::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.add_contact_btn > button {
  position: relative;
  z-index: 1;
}
.contact_list_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 18px;
}

.first_letter {
  margin: 16px 52px 8px 52px;
  padding: 4px 24px 20px 24px;
  border-bottom: 2px solid var(--border_color);
  font-size: 20px;
  font-weight: 400;
}

.user_contact {
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user_contact span {
  font-size: 20px;
}

.user_contact p {
  color: var(--light-blue);
}

.user_avatar_large {
  background: grey;
  width: 120px;
  height: 120px;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 999px;
  user-select: none;
  color: var(--white-text-color);
  grid-area: avatar_large;
  font-size: 47px;
}

.user_avatar_large_responsive {
  background: grey;
  width: 120px;
  height: 120px;
  flex: 0 0 auto;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 999px;
  user-select: none;
  color: var(--white-text-color);
  grid-area: avatar_large;
  font-size: 47px;
}

.contact_list_card {
  width: 352px;
  margin-left: 52px;
  padding: 8px 0 8px 0;
  border-radius: 10px;
  cursor: pointer;
}

.contact_list_card:hover {
  background-image: linear-gradient(to top, #f9f9f9, #f0f0f0);
}

.contact_actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.contact_detail {
  grid-area: contact_detail;
  margin: 16px 0 0 40px;
}

.contact_detail h2 {
  font-size: 47px;
  font-weight: 500;
}

.contact_information {
  grid-area: contact_info;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.contact_information h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}

.contact_information h4 {
  margin: 8px 0 0 0;
}

.contact_list_card.is-active {
  background: var(--blue);
}

.contact_list_card.is-active .user_contact span,
.contact_list_card.is-active .user_contact a {
  color: var(--white-text-color);
}

.contact_modal_content {
  min-width: 1212px;
  width: 100%;
  height: 592px;
  background: var(--background-color);
  border: none;
  outline: none;
  position: relative;
  overflow: auto;
}

.modal_close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  line-height: 1;
  cursor: pointer;
  color: var(--text-color);
}

.toast_overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
}

.toast_box {
  width: 260px; /* oder var(--task_success_width) */
  height: 56px; /* oder var(--task_success_height) */
  background: var(--dark-blue);
  color: white;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 120px;
  transform: translateX(50vw);
  opacity: 0;
}

.toast_overlay.is_visible {
  opacity: 1;
  pointer-events: auto;
}

.toast_overlay.is_animating .toast_box {
  animation: toastIn 3000ms ease-out;
}

@keyframes toastIn {
  from {
    transform: translateX(50vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fab {
  position: fixed;
  right: 30px;
  bottom: 96px;
  width: 56px;
  height: 56px;
  border-radius: 999px;
  border: none;
  cursor: pointer;

  display: grid;
  place-items: center;

  font-size: 28px;
  line-height: 1;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

@media (max-width: 1250px) {
  .contact_modal_content {
    min-width: auto;
  }

  .contacts_modal_icon {
    display: none;
  }

  .overlay_left h2 {
    font-size: 47px;
  }

  .overlay_left {
    height: 250px;
    margin-right: 0;
  }

  .overlay_right {
    border-radius: 0 30px 30px 0;
    display: flex;
    align-items: center;
    background-color: var(--white-text-color);
    gap: 50px;
  }

  main.overlay_right {
    margin-top: 40px;
  }

  aside h4 {
    font-size: 20px;
  }

  .divider {
    height: 3px;
  }

  .edit_contact_overlay {
    flex-direction: column;
  }

  .modal_close {
    color: white;
  }

  .title_box {
    margin-left: 16px;
  }

  .contacts_title {
    font-size: 47px;
    font-weight: 700;
    color: hsla(0, 0%, 0%, 1);
    padding-right: 8px;
  }

  .contacts_subtitle {
    font-size: 20px;
    font-weight: 400;
    padding-left: 8px;
  }

  .clear_button {
    display: none;
  }

  /* .user_avatar_large {
    display: none;
  } */

  .user_avatar_large_responsive {
    display: inline-flex;
    position: absolute;
    left: calc(50% - 60px);
    top: 250px;
    transform: translateY(-50%);
    z-index: 2;
    border: 4px solid #fff;
  }

  .input-wrapper {
    margin-left: 16px;
  }

  .input-wrapper input {
    width: 100%;
  }

  .edit_contact_btn {
    margin-left: auto;
    margin-right: auto;
  }

  .edit_contact_fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .default_button {
    padding: 10px 10px 10px 16px;
  }
}

@media (max-width: 1100px) {
  .add_contact_btn {
    display: none;
  }
  .title_box {
    display: none;
  }
  .shadow {
    display: none;
  }
  /* .contact_list_sect {
    display: none;
  } */
  .contact_details_sect {
    display: none;
  }
  /* .contacts_layout {
    display: block;
  } */
}

@media (min-width: 1100px) {
  .fab {
    display: none;
  }
}

@media (max-width: 425px) {
  .first_letter {
    font-size: 16px;
    margin-left: 24px;
  }
  .user_contact span {
    font-size: 16px;
  }
  .user_contact {
    margin-left: 16px;
    gap: 2px;
  }
  .contact_list_card {
    margin-left: 24px;
  }
  aside h4 {
    font-size: 16px;
  }
  .overlay_left h2 {
    font-size: 30px;
  }
  .input-wrapper {
    margin-left: 8px;
    width: 90%;
  }
  .standard_input_box {
    font-size: 16px;
    height: 40px;
  }
  .input-wrapper input {
    padding: auto;
  }
  .user_avatar_large_responsive {
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
  }
}
