.top_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 348px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user_info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.help_icon {
    text-decoration: none;
    color: gray;
    border: 2px solid gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help_icon:hover {
    transform: scale(1.1);
}

.user_avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid #1e2a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--user_c_active);
    background-color: var(--background-color);
    overflow: hidden;
    transition: filter 0.2s;
    cursor: pointer;
    font-size: 24px;
}

.user_avatar:hover {
    filter: brightness(0.9);
}

.user_avatar_wrapper {
    position: relative;
}

/* Dropdown selbst */
.user_menu_dialog {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #1e2a3a;
    border-radius: 16px 0 16px 16px;
    min-width: 200px;
    flex-direction: column;
}

.user_menu_dialog a {
    display: block;
    width: 100%;
    padding: 6px 20px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
    white-space: nowrap;
}

.user_menu_dialog a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}